apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: flask-api-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: flask-api
    spec:
      containers:
      - name: flask-api
        # Replace with your project ID
        image: tyediel/flask-kubernetes-example
        imagePullPolicy: Always
        resources:
          limits:
            cpu: 150m
            memory: 200Mi
          requests:
            cpu: 150m
            memory: 100Mi
        ports:
        - containerPort: 5000
        #securityContext:
          #readOnlyRootFilesystem: true
        #   runAsNonRoot: true
        #volumeMounts:
        #- name: tmp
          #mountPath: /tmp
        #- name: varrun
          #mountPath: /var/run
      #volumes:
      #- name: tmp
        #emptyDir:
          #medium: "Memory"
      #- name: varrun
        #emptyDir:
          #medium: "Memory"

